.device
  .display.upper
    -Task.all.find_all{|t| !t.deleted && !t.completed}.each do |task|
      .task
        .task-name{:href => "/task/#{task.id}"}
          = task.name
          
        %form.progress-circle
          %input{:type => "hidden", :name => "task_id", :value => task.id}
          %input.numerator{:type => 'text', :name => "current_progress", :value => task.current_progress}
          .divider
          %input.denominator{:type => 'text', :name => "finished_value",  :value => task.finished_value}
        .progress-bar
          .finished-value{:style => 'display: none'}= task.finished_value
          .full-bar{:style => "width: #{task.percent_progress}%"}
          .hover
        .icon.complete{:id => "c" + task.id}
        .icon.delete{:id => "d" + task.id}
        .update-overlay
          %form.update-form{:action => "/update-progress", :method => "POST"}
            %input{:type => "hidden", :name => "task_id", :value => task.id}
            %label Progress (out of #{task.finished_value})
            %input.progress-field{:type => "text", :name => "progress", :style => 'margin: 0 15px; width: 30px', :value => task.current_progress}

  .display.lower
    %form{:action => "/new-task", :method => "POST"}
      .two-story
        %small Name
        %br
        %input{:type => "text", :name => "name", :style => 'width: 200px'}
      .two-story
        %small Progress
        %br
        %input{:type => "text", :name => "current_progress", :style => 'width: 30px', :value => '0'}
        %span{:style => "margin: 0 5px;"} out of
        %input{:type => "text", :name => "finished_value", :style => 'width: 30px'}
      .two-story
        %input{:type => "submit", :value => "Create Task", :style => "width: 125px"}
  .display.lower
    -completed = Task.all.find_all{|t| t.completed}
    -unless completed.empty?
      Completed Tasks:
      =completed.map(&:name).join(", ")
        
        
:javascript
  $(document).ready(function(){
  
    $(".delete").hide();
    $(".complete").hide();
    

    
    $(".task").hover(function(){
      $(this).find('.delete').fadeIn(50);
      $(this).find('.complete').fadeIn(50);
    }, function(){
      $(this).find('.delete').fadeOut(50);
      $(this).find('.complete').fadeOut(50);
    });
    
    $(".delete").click(function(){
      var taskID = $(this).attr("id").slice(1);
      $.post("/delete-task/" + taskID);
      $(this).parent().fadeOut(200);
    });
    
    $(".complete").click(function(){
      var taskID = $(this).attr("id").slice(1);
      $.post("/complete-task/" + taskID);
      $(this).parent().fadeOut(200);
    });
    
    $(document).keyup(function(e){
      if (e.keyCode == 27) $(".update-overlay").fadeOut(150);
    });
    
    $(".numerator").keyup(function(event){
      updateProgress($(this).parent());
    });
    
  });
  function updateProgress(form){
    var finalValue = parseInt(form.find(".denominator").val());
    var percent = 100*parseInt(form.find('.numerator').val())/finalValue
    if (isNaN(percent)) return false;
    $.post("/update-progress", $(form).serialize());

    form.parent().find(".full-bar").animate({"width": percent+"%"}, 500);
  }
  