%h1= @task.name

%p You're at #{@task.current_progress} out of #{@task.finished_value}, which is #{@task.percent_progress}%.

.percent_display
  %code
    0 #{(0..20).inject(""){|all, cur| all + "&nbsp;"}} 100
    %br
    =(0..25).inject(""){|all, cur| all + "-"} 
    %br
    -twentyfifths = (@task.percent_progress/4).floor
    -twentyfifths.times do
      %b> @
%br
%br
%h3 Update Progress
%form{:action => "/update-progress/#{@task.id}", :method => "POST"}
  %label Progress (out of #{@task.finished_value})
  %input{:type => "text", :name => "progress"}
  %input{:type => "submit", :value => "Update Progress"}
  
  
  
%p
  %a{:href => "/"} Home